<h1>
    Minchat First day here
</h1>
<form action="/post/create" method="POST" class="container form" style="width: 600px;" id="new_post">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control"> 
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Post</label>
        <textarea name="content" id="content" class="form-control"></textarea> 
    </div>
    <button class="btn btn-lg btn-dark">POST</button>
</form>
<div>
    <ul id="posts">
        <%for(post of Posts){%>
            <li id="post-<%=post._id%>" class="postm">
                <h5><%=post.title%></h5>
                <p><%=post.content%> 
                <em>By <%=post.user.name%></em></p>
                <%-include('comment');%>
               <%if(locals.user){%>
                    <a href="/post/delete/<%=post._id%>"><img class="postDelete" src="https://cdn-icons.flaticon.com/png/512/484/premium/484662.png?token=exp=1645220086~hmac=f60fd19979ee06f494c5c7f35f3eb2f2"></a>
               <%}%>
            </li>
        <%}%>
    </ul>
</div>

<div >
    <ul id="users">
        <%for(user of User){%>
            <li id="user">
                <a href="/user/profile/<%=user._id%>"><%=user.name%></a>
            </li>
        <%}%>
    </ul>

</div>
<script src="/js/home_post.js"></script>